.grid-wrapper {
  height: 100%;
  overflow: hidden;
}

.grid-2column {
  display: grid;
  grid-template-columns: 350px 1fr;

  height: 100%;
  width: 100%;
  border-radius: 12px;

  overflow: hidden;
  border: 1px solid var(--c-primary);
}

.grid-sidebar-wrapper {
  padding-block: var(--space-300);
  height: 100%;
  display: flex;
}

.grid-sidebar {
  padding-inline: var(--space-400);
  border-right: 0.25px solid var(--c-primary);
  overflow-y: auto;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.grid-column-header {
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid var(--color-background-mute);
}

.grid-sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  list-style: none;
}

.grid-sidebar-content-item {
  text-align: left;
}

.grid-sidebar-footer {
  padding-top: 1rem;
  border-top: 2px solid var(--color-background-mute);
  display: flex;
  gap: var(--space-075);
  align-items: center;
}

.grid-sidebar-footer button {
  flex: 1;
}

.grid-content-wrapper {
  padding-block: var(--space-300);
  padding-inline: var(--space-400);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.grid-content-no-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid-content {
  width: 100%;
  height: 100%;
  min-height: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* .grid-content-header {
  width: 100%;
  height: 53.2px;
  border-bottom: 2px solid var(--color-background-mute);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
} */

.messages-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-mute) transparent;

  margin-block: var(--space-300);
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;

  gap: var(--space-075);
  overflow-y: auto;
  min-height: 0;
}

.message {
  display: flex;
  flex-direction: column;

  max-width: 60%;
  align-self: flex-start;
}

.message.self {
  justify-content: flex-end;
  align-self: flex-end;
}

.message-sender {
  font-size: var(--fs-label-small);
  text-align: start;
}

.message-content {
  text-align: start;
  overflow-wrap: break-word;
  font-size: var(--fs-body-medium);

  border-radius: 18px;
  padding-inline: var(--space-150);
  padding-block: var(--space-100);
  background: var(--color-background-mute);
}

.message.self .message-content {
  background: var(--c-primary);
}

.message.self .message-sender {
  text-align: end;
}

.message-input {
  display: flex;
  gap: var(--space-200);
  flex-shrink: 0;
}

.message-input-field {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 2px solid var(--accent);
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  resize: none;
  height: 50px;
}

.messageInput:focus {
  border-color: var(--primary);
}

.main-column {
  padding-inline: var(--space-400);
  padding-block: var(--space-300);

  height: 100%;
  border-radius: 12px;
  border: 1px solid var(--c-primary);

  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.main-column-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: var(--space-300);
  padding-block: var(--space-150);

  border-bottom: 1px solid var(--color-text);
}

.info-card-row {
  padding-inline: var(--space-300);
  display: flex;
  justify-content: space-between;
  gap: var(--space-600);
}

/* New Shit */
.grid {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: var(--space-600);

  height: 100%;
  width: 100%;
  border-radius: 12px;
  padding-inline: var(--space-300);
}

.grid-card {
  padding: var(--space-200);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--color-background-soft);
  border-radius: 12px;
  box-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}

.tab {
  text-align: left;

  padding-inline: var(--space-300);
  padding-block: var(--space-150);
  background: var(--color-background-soft);
}

.tab:hover,
.active {
  background: var(--color-background);
}

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-title {
  font-size: var(--fs-body-medium);
  font-weight: 700;
}

.tab-description {
  font-size: var(--fs-label);
}

.tab-subtitle {
  font-size: var(--fs-label-small);
}

.right-card-wrapper {
  padding-inline: var(--space-300);
  padding-block: var(--space-075);

  display: flex;
  flex-direction: column;
  gap: var(--space-400);

  height: 100%;
}

.right-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--color-text);
}

.right-card-description {
  flex: 1;
}

.right-card-meta {
  display: flex;
  justify-content: space-between;
  gap: var(--space-100);
}

.form-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group textarea {
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-text);
  padding-block: var(--space-050);
  padding-inline: var(--space-100);

  color: var(--color-text);
  resize: none;
}

.form-group textarea {
  width: 100%;
  height: 85px;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  gap: var(--space-300);
}

.form-group-row .form-group {
  flex: 1;
}
